.bgContainer {
   background: url(../assets/gameBg.jpg);
   background-size: cover;
   background-position: center;
}

.dashboardBtnsHeader {
   font-family: "Press Start 2P", system-ui !important;
   /* font-size: 12px;
   font-weight: 500; */
}
.dashboardBtnsHistory {
   font-family: "Press Start 2P", system-ui !important;
   color: #fff;
   font-size: 18px;
   font-weight: 600;
}
.dashboardBtns {
   font-family: "Press Start 2P", system-ui !important;
   font-size: 12px;
   font-weight: 500;
}
.dashboardBtnsHistoryRefresh {
   font-family: "Press Start 2P", system-ui !important;
   font-size: 8px;
   font-weight: 500;
}
.dashboardBtns:hover {
   background-color: #333 !important;
}
.dashboardBtnsHistoryRefresh:hover {
   background-color: #333 !important;
}
.dashboardBtns::before {
   content: "";
   display: block;
   position: absolute;
   height: 50%;
   background: linear-gradient(
      hsla(0, 0%, 97%, 0.3),
      hsla(0, 0%, 100%, 0)
   );
   top: 0px;
   left: 0px;
   right: 0px;
   border-radius: 30px;
}
.dashboardBtnsHistoryRefresh::before {
   content: "";
   display: block;
   position: absolute;
   height: 50%;
   background: linear-gradient(
      hsla(0, 0%, 97%, 0.3),
      hsla(0, 0%, 100%, 0)
   );
   top: 0px;
   left: 0px;
   right: 0px;
   border-radius: 30px;
}

.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
   align-items: center;
   animation: fadeIn 0.3s ease-in-out;
}

.modal-container {
   background-color: #fff;
   padding: 30px;
   border-radius: 15px;
   text-align: center;
   max-width: 400px;
   width: 100%;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   animation: slideUp 0.5s ease-out;
}

.modal-container h2 {
   font-size: 24px;
   color: #333;
   margin-bottom: 20px;
   font-weight: bold;
}

.level-buttons button {
   background-color: #007bff;
   color: white;
   padding: 12px 20px;
   border: none;
   margin: 10px 0;
   border-radius: 10px;
   cursor: pointer;
   font-size: 18px;
   transition: background-color 0.3s ease;
   width: 100%;
}

.level-buttons button:hover {
   background-color: #0056b3;
}

.close-modal {
   background-color: #f44336;
   color: white;
   padding: 10px 20px;
   border: none;
   margin-top: 15px;
   border-radius: 5px;
   cursor: pointer;
}

.close-modal:hover {
   background-color: #e02f2f;
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes slideUp {
   from {
      transform: translateY(30px);
      opacity: 0;
   }
   to {
      transform: translateY(0);
      opacity: 1;
   }
}

